<nav class="navbar">
  <ul class="nav-links">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Auth</a
      >
    </li>
    <li *ngIf="isAdmin">
      <a routerLink="/admin" routerLinkActive="active">Admin</a>
    </li>
    <li *ngIf="isAdmin">
      <a routerLink="/projects" routerLinkActive="active">Project</a>
    </li>
    <li *ngIf="isAdmin">
      <a routerLink="/tasks" routerLinkActive="active">Tasks</a>
    </li>
    <li *ngIf="isAdmin">
      <a routerLink="/users" routerLinkActive="active">Users</a>
    </li>
    <li *ngIf="isTeamMember">
      <a routerLink="/team" routerLinkActive="active">Team</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a routerLink="/auth" routerLinkActive="active">Login</a>
    </li>
    <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
  </ul>
</nav>
