<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active"
        >Task Portal</a
      >
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="authService.getUserRole() === 'admin'">
        <a routerLink="/admin">Admin DashBoard</a>
      </li>
      <li *ngIf="authService.getUserRole() === 'teamMember'">
        <a routerLink="/team">Team DashBoard</a>
      </li>
      <li>
        <a
          routerLink="/admin /projects"
          *ngIf="authService.getUserRole() === 'admin'"
          >Projects</a
        >
      </li>
      <li>
        <a
          routerLink="/admin/tasks/assign"
          *ngIf="authService.getUserRole() === 'admin'"
        >
          Assign Tasks</a
        >
      </li>
      <li>
        <a
          routerLink="/team/tasks"
          *ngIf="authService.getUserRole() === 'teamMember'"
        >
          My Tasks</a
        >
      </li>
    </ul>
    <ul
      class="nav navbar-nav navbar-right"
      *ngIf="authService.isAuthenticated()"
    >
      <li><a (click)="authService.signOut()">Logout</a></li>
    </ul>
  </div>
</div>
